* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  margin: 60px;
  text-align: center;
}

h1 {
  padding: 20px;
}

span {
  display: inline-block;
  padding-top: 50px;
  width: 120px;
  height: 70px;
  border: 2px solid black;
}

#player-turn {
  padding: 20px;
  font-size: 30px;
}
